<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product List</title>
</head>
<body>

    <br><br>
    <h1 style="text-align: center;"><span font color = "#2ab7fc">We</span> Products</h1>
    
    <!-- rows.Scan(&p.ID, &p.ItemName, &p.ItemPrice, &p.checkout) -->

   

    <table style="width:100%">
        <tr>
            <th>Item ID</th>
          <th>Item Name</th>
          <th>Item Price</th> 
        </tr>
        {{range .}}
        <tr>
          <td style="text-align:center">{{.ID}}</td>
          <td style="text-align:center">{{.ItemName}}</td>
          <td style="text-align:center">${{.ItemPrice}}</td>
        </tr>
        {{end}}
      </table>
      
<br><br>


<h1 style="text-align: center;">Input Data</h1>

<div style="position:relative; left:25%; top:2px;">

    <form action="createprocess" method="POST">
      <label for="N">Enter Product ID</label>
        <input type="text" name="itemID" id="N">  
      
      <label for="N">Enter Product Name</label>
        <input type="text" name="itemName" id="N">
        
        <label for="N">Enter Product Price</label>
        <input type="text" name="itemPrice"id="N">
        
        <input type="submit">
    </form>


      <br><br>

      <h1 style="position:relative; left:18%; top:2px;">Update Data </h1>
      
      <form action="updateprocess" method="POST">

        <label for="m">Enter Product ID</label>
        <input type="text" name="ID_No" id="m"> 

        <label for="N">Enter Product Name</label>
        <input type="text" name="ItemName" id="N">

        <label for="N">Enter Product Price</label>
        <input type="text" name="ItemPrice" id="N">
        
        <input type="submit">

      </form>

      <br><br>

      <h1 style="position:relative; left:18%; top:2px;">Delete Data </h1>
      
      <form action="deleteprocess" method="POST">

        <label for="m">Enter Product ID</label>
        <input type="text" name="ID_No" id="m">
        
        <input type="submit">

      </form>


</div>

</body>
</html>

<!-- git clone git@bitbucket.org:mastly/weproducts.git -->